$layoutBackgroundColor: #252526;
$layoutElementBackgroundColor: #323232;
$layoutElementBorderColor: #252526;
$layoutElementStatusBackgroudColor: #007acc;
$layoutElementStatusColor: #ffffff;
$layoutArticleBackgroundColor: #444444;
$layoutHeaderColor: #ffffff;
$layoutHeaderFunctionColor: #979797;
$layoutHeaderFunctionDisableColor: #505050;
$layoutHeaderFunctionHoverColor: #ffffff;
$layoutSeparaterColor: #535353;
$layoutToolbarColor: #979797;
$layoutToolbarSelectColor: #ffffff;
$layoutToolbarSelectBackgroundColor: #888;
$layoutToolbarHoverColor: #ffffff;
$layoutToolbarDisableColor: #505050;
$layoutToolbarDisableSelectBackgroundColor: #555;
$layoutToolbarDisableSelectColor: #999;
$layoutTopbarColor: #979797;
$layoutTopbarDisableColor: #505050;
$layoutTopbarHoverColor: #ffffff;
$layoutTopbarFormBorderColor: #595959;
$layoutTopbarFormBackgroundColor: #2a2a2a;
$layoutTopbarFormColor: #d7d7d7;
$layoutTopbarFormDisableBackgroundColor: #404040;
$layoutTopbarFormDisableColor: #909090;
$layoutTopbarButtonSelectColor: #ffffff;
$layoutTopbarButtonSelectBackgroundColor: #888;
$layoutTopbarButtonDisableColor: #505050;
$layoutTopbarButtonDisableSelectBackgroundColor: #555;
$layoutTopbarButtonDisableSelectColor: #999;

html, body {
    background-color: $layoutBackgroundColor;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;

    &, & > * {
        box-sizing: border-box;
        overflow: hidden;
    }

    & > .ui-layout-header {
        align-items: center;
        background-color: $layoutElementBackgroundColor;
        border-bottom: 1px solid $layoutElementBorderColor;
        display: flex;
        flex-direction: row;
        height: 2em;
        justify-content: space-between;

        h1 {
            color: $layoutHeaderColor;
            font-size: .7em;
            margin: 0;
            padding-left: 2em;
            text-shadow: 0 1px #000000;
            user-select: none;
        }

        ul {
            align-items: center;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            & > * {
                float: left;
            }

            li {
                button {
                    background: transparent;
                    border: 0;
                    color: $layoutHeaderFunctionColor;
                    float: left;
                    font-size: .8em;
                    outline: none;
                    padding: 0 1em;
                    transition: color .2s;
                    user-select: none;

                    &:disabled {
                        color: $layoutHeaderFunctionDisableColor;
                    }

                    &:hover:not(:disabled) {
                        color: $layoutHeaderFunctionHoverColor;
                    }

                    span:not(:first-child) {
                        margin-left: .4em;
                    }
                }

            }

            hr {
                border-color: $layoutSeparaterColor;
                border-style: solid;
                border-width: 0 1px 0 0;
                display: inline-block;
                height: .7em;
                margin: 0;
                padding: 0;
            }
        }
    }

    & > .ui-layout-topbar ul {
        border-width: 0 1px 1px 0;
    }

    & .ui-layout-document-statusbar ul {
        border-width: 1px 0 0 0;
    }

    & > .ui-layout-topbar, & .ui-layout-document-statusbar {
        background-color: $layoutElementBackgroundColor;
        overflow: hidden;

        &:empty {
            display: none;
        }

        ul {
            border-color: $layoutElementBorderColor;
            border-style: solid;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 4px 2px;

            li {
                align-items: center;
                display: inline-flex;
                margin: 0 3px;
                white-space: nowrap;

                label {
                    color: $layoutTopbarColor;
                    font-size: .8em;
                    user-select: none;
                    transition: color .2s;
                    white-space: nowrap;

                    &:first-child {
                        margin-right: 4px;

                        &:after {
                            content: ': ';
                        }
                    }

                    &:last-child {
                        margin-left: 2px;
                    }
                }

                input[type="text"], input[type="number"], select {
                    border-color: $layoutTopbarFormBorderColor;
                    border-radius: 5px;
                    border-style: solid;
                    border-width: 1px;
                    background-color: $layoutTopbarFormBackgroundColor;
                    color: $layoutTopbarFormColor;
                    padding: 2px 4px;

                    &:disabled {
                        background-color: $layoutTopbarFormDisableBackgroundColor;
                        color: $layoutTopbarFormDisableColor;
                    }
                }

                input[type="number"] {
                    text-align: right;
                }

                button {
                    align-items: center;
                    background-color: transparent;
                    border: 0;
                    border-radius: 3px;
                    color: $layoutTopbarColor;
                    display: inline-flex;
                    font-size: 1em;
                    height: calc(1.5em - 4px);
                    margin: 2px;
                    justify-content: center;
                    outline: none;
                    padding: 0;
                    transition: background-color .2s, color .2s;
                    user-select: none;
                    width: calc(1.5em - 4px);
                    
                    &:disabled {
                        color: $layoutTopbarButtonDisableColor;
                    }

                    &:hover:not(:disabled) {
                        color: $layoutTopbarHoverColor;
                    }

                    &.selected {
                        background-color: $layoutTopbarButtonSelectBackgroundColor;
                        color: $layoutTopbarButtonSelectColor;
                    }

                    &:disabled.selected {
                        background-color: $layoutTopbarButtonDisableSelectBackgroundColor;
                        color: $layoutTopbarButtonDisableSelectColor;
                    }
                }

                &:hover:not(.disabled) {
                    label {
                        color: $layoutTopbarHoverColor;
                    }
                }

                &.disabled {
                    label {
                        color: $layoutTopbarDisableColor;
                    }
                }
            }

            hr {
                border-color: $layoutSeparaterColor;
                border-style: solid;
                border-width: 0 1px 0 0;
                margin: 4px;
            }
        }
    }

    & > .ui-layout-middle {
        display: flex;
        flex: 1;

        & > * {
            height: 100%;
        }

        & > .ui-layout-toolbar {
            background-color: $layoutElementBackgroundColor;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    align-items: center;
                    display: flex;
                    height: 2em;
                    justify-content: center;
                    width: 2em;

                    button {
                        align-items: center;
                        background-color: transparent;
                        border: 0;
                        border-radius: 3px;
                        color: $layoutToolbarColor;
                        display: inline-flex;
                        font-size: 1em;
                        height: calc(100% - 8px);
                        justify-content: center;
                        margin: 4px;
                        outline: none;
                        padding: 0;
                        transition: background-color .2s, color .2s;
                        user-select: none;
                        width: calc(100% - 8px);

                        &:disabled {
                            color: $layoutToolbarDisableColor;
                        }

                        &:hover:not(:disabled) {
                            color: $layoutToolbarHoverColor;
                        }
                        
                        &.selected {
                            background-color: $layoutToolbarSelectBackgroundColor;
                            color: $layoutToolbarSelectColor;
                        }
    
                        &:disabled.selected {
                            background-color: $layoutToolbarDisableSelectBackgroundColor;
                            color: $layoutToolbarDisableSelectColor;
                        }    
                    }
                }

                hr {
                    border-color: $layoutSeparaterColor;
                    border-style: solid;
                    border-width: 1px 0 0 0;
                    margin: 0 4px;
                }
            }
        }

        & > .ui-layout-toolbar:empty {
            display: none;
        }

        & > .ui-layout-main {
            border-left: 1px solid $layoutElementBorderColor;
            display: flex;
            flex: 1;
            flex-direction: column;
            overflow: hidden;

            & > .ui-layout-documents {
                background-color: $layoutArticleBackgroundColor;
                flex: 1;
                overflow: auto;

                &:empty {
                    background-color: $layoutBackgroundColor;
                }
            }

            & > .ui-layout-document-statusbar {
            }
        }


        & > .ui-layout-property {
            background-color: $layoutElementBackgroundColor;
            width: 400px;
        }
    }

    & > .ui-layout-statusbar {
        align-items: center;
        background-color: $layoutElementStatusBackgroudColor;
        border-top: 1px solid $layoutElementBorderColor;
        display: flex;
        flex-direction: row;
        height: 1.5em;
        justify-content: space-between;

        h5 {
            color: $layoutElementStatusColor;
            font-size: .7em;
            font-weight: normal;
            margin: 0;
            padding: 0 .7em;
            user-select: none;

            &:empty::after {
                content: '준비';
            }
        }
    }
}