$layoutBackgroundColor: #252526;
$layoutElementBackgroundColor: #323232;
$layoutElementBorderColor: #252526;
$layoutElementStatusBackgroudColor: #007acc;
$layoutElementStatusColor: #ffffff;
$layoutHeaderColor: #ffffff;
$layoutHeaderFunctionColor: #979797;
$layoutHeaderFunctionHoverColor: #ffffff;
$layoutSeparaterColor: #535353;
$layoutToolbarColor: #979797;
$layoutTopbarColor: #979797;
$layoutTopbarHoverColor: #ffffff;
$layoutTopbarFormBorderColor: #595959;
$layoutTopbarFormBackgroundColor: #2a2a2a;
$layoutTopbarFormColor: #d7d7d7;
$layoutTopbarButtonSelectColor: #ffffff;
$layoutTopbarButtonSelectBackgroundColor: #888;

html, body {
    background-color: $layoutBackgroundColor;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;

    &, & > * {
        box-sizing: border-box;
        overflow: hidden;
    }

    & > .ui-layout-header {
        align-items: center;
        background-color: $layoutElementBackgroundColor;
        border-bottom: 1px solid $layoutElementBorderColor;
        display: flex;
        flex-direction: row;
        height: 2em;
        justify-content: space-between;

        h1 {
            color: $layoutHeaderColor;
            font-size: .7em;
            margin: 0;
            padding-left: 2em;
            text-shadow: 0 1px #000000;
            user-select: none;
        }

        ul {
            align-items: center;
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;

            & > * {
                float: left;
            }

            li {
                button {
                    background: transparent;
                    border: 0;
                    color: $layoutHeaderFunctionColor;
                    float: left;
                    font-size: .8em;
                    outline: none;
                    padding: 0 1em;
                    transition: color .2s;
                    user-select: none;

                    span:not(:first-child) {
                        margin-left: .4em;
                    }
                }

                button:hover {
                    color: $layoutHeaderFunctionHoverColor;
                }
            }

            hr {
                border-color: $layoutSeparaterColor;
                border-style: solid;
                border-width: 0 1px 0 0;
                display: inline-block;
                height: .7em;
                margin: 0;
                padding: 0;
            }
        }
    }

    & > .ui-layout-topbar {
        background-color: $layoutElementBackgroundColor;
        overflow: hidden;

        &:empty {
            display: none;
        }

        ul {
            border-color: $layoutElementBorderColor;
            border-style: solid;
            border-width: 0 1px 1px 0;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 4px 2px;

            li {
                align-items: center;
                display: inline-flex;
                margin: 0 4px;
                white-space: nowrap;

                label {
                    color: $layoutTopbarColor;
                    font-size: .8em;
                    user-select: none;
                    transition: color .2s;
                    white-space: nowrap;

                    &:first-child {
                        margin-right: 4px;

                        &:after {
                            content: ': ';
                        }
                    }

                    &:last-child {
                        margin-left: 4px;
                    }
                }

                input[type="text"], input[type="number"], select {
                    border-color: $layoutTopbarFormBorderColor;
                    border-radius: 5px;
                    border-style: solid;
                    border-width: 1px;
                    background-color: $layoutTopbarFormBackgroundColor;
                    color: $layoutTopbarFormColor;
                    padding: 2px 4px;
                }

                input[type="number"] {
                    text-align: right;
                }

                button {
                    align-items: center;
                    background-color: transparent;
                    border: 0;
                    color: $layoutTopbarColor;
                    display: inline-flex;
                    font-size: 1em;
                    height: 1.5em;
                    justify-content: center;
                    outline: none;
                    padding: 0;
                    transition: color .2s;
                    user-select: none;
                    width: 1.5em;

                    &:hover {
                        color: $layoutTopbarHoverColor;
                    }

                    &.selected {
                        background-color: $layoutTopbarButtonSelectBackgroundColor;
                        color: $layoutTopbarButtonSelectColor;
                        border-radius: 3px;
                    }
                }

                &:hover {
                    label {
                        color: $layoutTopbarHoverColor;
                    }
                }
            }


            hr {
                border-color: $layoutSeparaterColor;
                border-style: solid;
                border-width: 0 1px 0 0;
                margin: 4px;
            }
        }
    }

    & > .ui-layout-body {
        flex: 1;
        position: relative;

        & > .ui-layout-toolbar {
            background-color: $layoutElementBackgroundColor;
            float: left;
            height: 100%;

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    align-items: center;
                    display: flex;
                    height: 2em;
                    justify-content: center;
                    width: 2em;

                    button {
                        background-color: transparent;
                        border: 0;
                        color: $layoutToolbarColor;
                        font-size: 1em;
                        height: 100%;
                        outline: none;
                        padding: 0;
                        transition: color .2s;
                        user-select: none;
                        width: 100%;

                        &:hover {
                            color: $layoutTopbarHoverColor;
                        }
                    }
                }

                hr {
                    border-color: $layoutSeparaterColor;
                    border-style: solid;
                    border-width: 1px 0 0 0;
                    margin: 0 4px;
                }
            }
        }

        & > .ui-layout-toolbar:empty {
            display: none;
        }

        & > .ui-layout-property {
            background-color: $layoutElementBackgroundColor;
            float: right;
            height: 100%;
            width: 400px;
        }
    }

    & > .ui-layout-statusbar {
        align-items: center;
        background-color: $layoutElementStatusBackgroudColor;
        border-top: 1px solid $layoutElementBorderColor;
        display: flex;
        flex-direction: row;
        height: 1.5em;
        justify-content: space-between;

        h5 {
            color: $layoutElementStatusColor;
            font-size: .7em;
            font-weight: normal;
            margin: 0;
            padding: 0 .7em;
            user-select: none;

            &:empty::after {
                content: '준비';
            }
        }
    }
}