x-page {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    position: relative;
}

x-page > * {
    position: absolute;
}

x-guide {
    border-color: #eeeeee;
    border-style: solid;
    border-width: 0 1px;
    box-sizing: content-box;
    display: inline-flex;
    user-select: none;
}

x-guide-col {
    border-color: #eeeeee;
    border-style: solid;
    border-width: 1px 0;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    user-select: none;
}

x-guide-margin {
    border-color: #eeeeee;
    border-style: solid;
    border-width: 0 1px;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    user-select: none;
}

x-galley {
    border: 1px dashed #dddddd;
    box-sizing: border-box;
    display: inline-block;
}

x-paragraph {
    border: 0;
    box-sizing: border-box;
    display: inline-flex;
}

x-paragraph:not([direction="column"]) x-paragraph-col,
x-paragraph:not([direction="column"]) x-paragraph-margin {
    height: 100%;
}

x-paragraph[direction="column"] x-paragraph-col,
x-paragraph[direction="column"] x-paragraph-margin {
    width: 100%;
}

x-paragraph-col {
    display: block;
    flex: 1;
    overflow: hidden;
    position: relative;
}

x-paragraph-col > .canvas {
    position: absolute;
}