x-page {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: inline-block;
    padding: 0;
    position: relative;
}

x-page > * {
    position: absolute;
}

x-guide {
    box-sizing: border-box;
    display: inline-flex;
    user-select: none;
}

x-guide-col {
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    user-select: none;
}

x-guide-margin {
    border: 0;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    user-select: none;
}

x-galley {
    border: 1px dashed #cccccc;
    box-sizing: border-box;
    display: inline-flex;
}

x-galley[direction="row"] x-paragraph-col {
    height: 100%;
}

x-galley[direction="column"] x-paragraph-col {
    width: 100%;
}

x-paragraph-col {
    display: block;
    flex: 1;
    height: 100%;
    overflow: hidden;
    position: relative;
}

x-paragraph-col > .canvas {
    position: absolute;
}

--x-paragraph-col {
    box-sizing: border-box;
    display: flex;
    flex: 1px;
    flex-direction: column;
    max-width: 100%;
    overflow: hidden;
    width: 100%;
    margin: 10px;
}

x-paragraph-col-line {
    display: flex;
    justify-content: flex-start;
}

x-char {
    color: transparent;
    display: inline-block;
    overflow: hidden;
    line-height: 1em;
    vertical-align: top;
    user-select: none;
}

x-char.newline {
    display: block;
}

x-char.space {
    height: 1px;
}

x-char > svg {
    vertical-align: top;
}