.frame {
    border: 1px dashed #dddddd;
    box-sizing: border-box;
    box-shadow: 0 0 0;
    display: inline-block;
    outline: 0;
    overflow: hidden;
    transition: 0.2s outline;

    &.focus, &.selected {
        box-shadow: inset 2px 0 0 0 #0022aa, inset -2px 0 0 0 #0022aa, inset 0 2px 0 0 #0022aa, inset 0 -2px 0 0 #0022aa;
    }
}