x-page {
    background-color: #ffffff;
    border-color: #cccccc;
    border-style: solid;
    border-width: 1px;
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 0;
    position: relative;

    transform-origin: 0 0;

    & > * {
        position: absolute;
    }
}
