x-paragraph {
    display: inline-flex !important;

    &.overflow:before {
        box-shadow: inset 0 0 0 3px #ff000077 !important;
        content: ' ';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    &:not([direction="column"]) {
        x-paragraph-col, x-paragraph-margin {
            height: 100%;
        }
    }

    &[direction="column"] {
        x-paragraph-col, x-paragraph-margin {
            width: 100%;
        }
    }

    &.focus.editable {
        box-shadow: inset 4px 0 0 0 #0022aa, inset -4px 0 0 0 #0022aa, inset 0 4px 0 0 #0022aa, inset 0 -4px 0 0 #0022aa !important;
    }
}

x-paragraph-col {
    display: block;
    flex: 1;
    overflow: hidden;
    position: relative;
}
