$editorPageGuideBorderColor: #969696;
$editorPageFrameBorderColor: #333333;
$editorDrawGuideBackgroundColor: #ff000011;
$editorDrawGuideBorderColor: red;

.editor {
    background-color: #ffffff;
    box-shadow: 4px 4px 12px #000000; 
    display: none;
    overflow: hidden;
    margin: 24px;

    &.active {
        display: inline-block;
    }

    x-page {
        x-guide {
            border-color: $editorPageGuideBorderColor;
        }

        x-guide-col {
            border-color: $editorPageGuideBorderColor;
        }

        x-guide-margin {
            border-color: $editorPageGuideBorderColor;
        }

        .frame {
            border-color: $editorPageFrameBorderColor;
            border-style: solid;
        }

        .draw-guide {
            background-color: $editorDrawGuideBackgroundColor;
            border-color: $editorDrawGuideBorderColor;
            border-style: solid;
            border-width: 1px;
            box-sizing: border-box;
            display: inline-block;
            position: absolute;
        }
    }
}